<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Free CRM Application Test Automation Test Suite">
    <listeners>
        <listener class-name = "com.qa.extentreportlistener.ExtentReporterNG"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <test name="Test Chrome" >
        <classes>
           <!-- <class name="com.crm.qa.testcases.ContactsPageTest"/>
            <class name="com.crm.qa.testcases.HomePageTest"/>-->
            <class name="com.crm.qa.testcases.LoginPageTest"/>
        </classes>
    </test>
    <!--<parameter name="browser" value="firefox"/>
    <test name="Test-FF" >
        <classes>

            <class name="com.crm.qa.testcases.LoginPageTest"/>
        </classes>
    </test>
    <parameter name="browser" value="IE"/>
    <test name="Test-IE" >
        <classes>

            <class name="com.crm.qa.testcases.LoginPageTest"/>
        </classes>
    </test>-->
</suite>
